 
  {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}
 

 <ul class="breadcrumb">
  <li><a href="{{ path('espace_platform_homepage') }}">CV</a></li>
  <li>Recherche</li>
 
<h3>CV-thèque</h3>
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div >
  {{ form(form) }}
</div>

 {% endblock %}