 
  {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}
 

 <ul class="breadcrumb">
  <li><a href="{{ path('espace_platform_homepage') }}">Offre</a></li>
  <li>MAJ</li>
 
<h3>Cours</h3>

<div >
  {{ form(form) }}
</div>

 {% endblock %}