#page{
  background: linear-gradient(45deg, #9ac41a 0%, #20a538 100%);
}




#page #header {
    padding-bottom: 40px;
    text-align: center;
}

.marg_container{

	margin-top : -200px;
 
}


.marg_container_register{

	margin-top : 100px;
	margin-bottom : 100px;
 
}


.marg_container2{

	margin-top : 50px;

}

     #logo{background-color: #003a6c;
    display: inline-block;
    height: 138px;
    padding: 5px;
    width: 340px;
    margin-left: 40px;}

    #logo img{
    	    height: auto;
    width: 300px;
    }

    .margin32{
        margin-left: 32px;
    }