 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a >Candidats</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Candidats</h3>



 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th>Nom</th>
        <th>Prenom</th>
        
     <th>Profil du candidat</th>
     <th>Action</th>
    

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        
     <th>Profil du candidat</th>
     <th>Action</th>
     

      

      </tr>
    </tfoot>  
    <tbody>

  {% for candidat in users %}

  <tr>
  <td> {{ candidat.nom |capitalize }} </td>
  <td> {{ candidat.prenom  |capitalize}} </td>

  <td>
<a href="{{ path('espace_details_candidat',{'id': candidat.id}) }}"><span class="glyphicon glyphicon-zoom-in"></span> </a> &nbsp 
</td>
    



   
  
        

    </tr>
  {% endfor %}
 
 </tbody>
 </table>




{% endblock %}