 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li>Candidats</li>
  <li>Liste</li>
 
</ul>

<h3>CV-thèque</h3>


{% if listUsers is not empty %}

 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th>Nom</th>
        <th>Prenom</th>
        
     <th>Profil du candidat</th>
     
    

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        
     <th>Profil du candidat</th>
     
     

      

      </tr>
    </tfoot>  
    <tbody>




  {% for candidat in listUsers %}

  <tr>
  <td> {{ candidat.nom |capitalize }} </td>
  <td> {{ candidat.prenom  |capitalize}} </td>

  <td>
<a href="{{ path('espace_details_candidat',{'id': candidat.id}) }}" target = "_blank"><span class="glyphicon glyphicon-zoom-in"></span> </a> &nbsp 
</td>
 
    </tr>
  {% endfor %}
 


 </tbody>
 </table>



{% else %}

Aucun profil ne correspond aux critères de votre recherche.

{% endif %}

<br><br>

  <a class="btn btn btn-success" href="{{ path('EP_cvtheque_search') }}" role="button">Nouvelle recherche</a>



{% endblock %}