 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offre</a></li>
  <li>Details</li>
 
</ul>

<h3>Détails de l'offre</h3>


<div class= "block-infos-user">

<span class="subtitle">Référence : </span>
{{offre.refOffre|date('Y-m-d')}}
{#



</div> 



#}

{% endblock %}