
 {% extends "EspaceUserBundle::layout.html.twig" %}


{% block body %}

 

    
<a class="btn btn btn-success" href="{{ path('EU_new_entreprise') }}" role="button">Entreprise</a>
<!--<a class="btn btn btn-success" href="{{ path('EU_new_alumni') }}" role="button">Alumni (ancien étudiant du campus) </a>-->
<a class="btn btn btn-success" href="{{ path('EU_new_etudiant') }}" role="button">Candidat</a>

  

  

{% endblock %}