 
  {% extends "EspaceUserBundle::layout.html.twig" %}

{% block body %}
 

 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Entreprise</a></li>
  <li>MAJ</li>
 
<h3>Entreprise</h3>

<div >
  {{ form(form) }}
</div>

 {% endblock %} 